fastapi

uvicorn
#click

torch
numpy
huggingface_hub
kokoro
langdetect
#python-multipart
#fasttext

#japeneese
pyopenjtalk
#fugashi
jaconv
mojimoji
fugashi[unidic-lite]

#chineese
ordered_set
pypinyin
cn2an
jieba
